<nav role="navigation" class="navbar navbar-custom navbar-fixed-top top-nav-collapsep">
        <div class="container">
            <div class="navbar-header">
                <a href="#page-top" class="navbar-brand page-scroll">
                    BLOG
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="#" class="page-scroll">开源</a>
                    </li>
                    <li>
                        <a href="#" class="page-scroll">GitHub</a>
                    </li>
                    <li>
                        <a href="#" class="page-scroll">关于</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>