html, body {
    height: 100%;
}
body {
    font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2,"Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
}
body {
    background: none repeat scroll 0 0 #efeee4;
}
.wrap {
    margin: 0 auto -105px;
    min-height: 100%;
    padding: 0 0 145px;
}
.header {
	background: none no-repeat scroll center 0 / cover #222;
    background-image: url(../image/intro.jpg);
    min-height: 400px;
	padding:138px 0 0;
    position: relative;
    text-align: center;
}
.logotxt {
    border: 0 none;
    margin-bottom: 30px;
}
.logotxt h1 {
    color: #fff;
    font-size: 64px;
    font-weight: 700;
}
.header h2 {
    color: #fff;
    font-size: 34px;
    font-weight: 100;
    margin: 0 0 45px;
    padding: 0;
}

footer {
    height: 105px;
    position: relative;
}

.navbar-custom {
    background-color: rgba(255, 255, 255, 0.3);
	font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",Georgia,tahoma,arial,simsun,"宋体";
    margin-bottom: 0;
    text-transform: uppercase;
}
.navbar-custom .navbar-brand {
    font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
    outline: 0 none;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 18px;
    color: #f60;
}

.navbar-custom .navbar-brand .navbar-toggle a
{
    font-size: 16px;
}
.navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:active {
    outline: 0 none;
}
.navbar-custom a {
    color: #f60;
    font-size: 24px;
}

.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
    background-color: transparent;
    outline: 0 none;
}
.navbar-custom .nav li.active {
    outline: 0 none;
}
.navbar-custom .nav li.active a {
    background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
    color: #f60;
}
.main {
    margin-top: 20px;
}

.main .row{
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.post-list{
	background-color:#fff;
    padding: 2em 0;
}

.post-list h3{
    font-size: 2em;
    font-weight: 400;
    line-height: 1.2;
    padding-left:10px;
}

.post-list h3 a{
	color:#1abc9c;
}

.post-list h3 a:hover{
	color:#1abc9c;
}

.post-list .icon{
    color: #888;
    font-size: 0.9em;
    margin: 10px 0 0 15px;
	padding-top:10px;
}

.post-list .readmore{
	display:none;
}

.post-list:hover a.readmore {
    color: #999;
    display: inline-block;
    padding-left: 10px;
}

footer {
    background: none repeat scroll 0 0 #4a4849;
    color: #fff;
    font-size: 12px;
    margin: 0;
    padding: 0;
    position: relative;
}
footer a {
    color: #ccc;
}
footer .submit {
    margin: 0;
    padding: 30px 0;
}