<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html %}
  <body id="page-top" data-target=".navbar-fixed-top" data-spy="scroll">
    {% include nav.html %}
    <div class="wrap">
      <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="logotxt"><h1>Mickyli</h1></div> 
                    <h2 class="text-center">不忘初心，方得始终。</h2>
                </div>
            </div>
        </div>
      </div>
      <main role="main" class="main">
          <div class="container">
              {{content}}
          </div>
      </main>
    </div>
    {% include footer.html %}
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>